.pwDiv{
    width: 1.48rem;
    height: 1.48rem;
    border: 1px solid #dddddd;
    border-right:0;
    background: white;
    font-size: 1rem;
    text-align: center;
}

#password{
    position: relative;
    width: 9.0rem;
    height: 1.33rem;
    top: -1.5rem;
    left: 0.3rem;
    opacity: 0;
}

body{
    background: white;
}