ul.userlist {
    background: white;
    /*margin-top: 0.3rem;*/
    box-shadow: 1px 1px 1px #c3c3c3;
}

li.userli {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem;
    border-bottom: 1px solid #bfbfbf;
    align-items: center;
    padding: 0.2rem;
    margin-top: 0;
    margin-bottom: 0;
    height: 1.1rem;
}

.RetrieveInput{
    font-size: 0.42rem;
    border: 0;
}

#return_pw{
    width: 9.2rem;
    height: 1.17rem;
    margin-top: 0.3rem;
    margin-left: 0.4rem;
    font-size: 0.45rem;
}

